<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Coding Events</title>
        <!-- this fragmented to all html files -->
        <!-- downloaded bootstrap css and javascript    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

</head>
<body>
<header th:fragment = "header"></header>
<!-- by referencing this in other files you can use what ever is entered -->
<!-- this is a fragmented navigation bar using bootstrap class -->
<nav th:fragment="navigation">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete Event</a></li>
    </ul>
</nav>
<td th:fragment="address">1234 5th Street</td>
</body>
</html>