<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- the unless syntax will see if the items are true then return the HTML element/text, if
items are false will skip HTML element/text-->
<p th:unless="${events} and ${events.size()}">No Events!</p>



<!-- creates a striped table using bootstrap clases-->
<table class="table table-striped">
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Address</th>

        </tr>
    <th:block th:each="event : ${events.entrySet()}">
            <tr>
                <td th:text="${event.getKey()}"></td>
                <td th:text="${event.getValue()}"></td>
                <td th:replace="fragments :: address"></td>
            </tr>
    </th:block>
</table>



</body>
</html>