<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
</head>
<body>

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- the unless syntax will see if the items are true then return the HTML element/text, if
items are false will skip HTML element/text-->
<p th:unless="${events} and ${events.size()}">No Events!</p>

<ul>
    <th:block th:each="event : ${events}"> <!-- loops through events list -->
        <li th:text="${event}"></li>  <!-- adds each element of the events list -->
    </th:block>
</ul>

</body>
</html>